<h1>Movies Show Page:</h1>


  <h2> <%= @movie.title %> </h2>
  <ul>
    <li><%= @movie.creation_year %></li>
    <li><%= @movie.genre %></li>
  </ul>

  <div class="movies-actors">
    <ul>
      <% @movie.actors.each do |actor| %>
      <li> <%= actor.name %> </li>
      <% end %>
    </ul>

    <div class="add-actor">
      <h3>Add Actor to this Movie:</h3>
      <%= form_with url: movie_path(@movie), method: :get do |form| %>
        <%= form.label :query, "Name:" %>
        <%= form.text_field :query %>
        <%= form.submit "Search" %>
      <% end %>
    </div>

    <p>
      <% if @actor %>
        <%= @actor.name %>
      <% end %>
    </p>
  </div>
