<h1>Studio Show Page:</h1>

<header>
  <h2> <%= @studio.name %> </h2>
  <h2> <%= @studio.location %> </h2>
</header>

<div class="">
  <ul>
    <% @studio.movies.each do |movie| %>
    <li> <%= movie.title %> </li>
    <% end %>
  </ul>
</div>

<div class="studio-actors">
  <ul>
    <% @active_studio_actors.each do |actor| %>
    <li> <%= actor.name %>, <%= actor.age %>, <%= actor.currently_working %> </li>
    <% end %>
  </ul>
</div>
